name: Build LaTeX CV
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Compile LaTeX
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          docker_image: ghcr.io/xu-cheng/texlive-full:20241201
      
      - name: Rename PDF
        run: mv main.pdf EricWeisbrodCV.pdf
          
      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: CV
          path: EricWeisbrodCV.pdf
          
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          publish_branch: gh-pages
